<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <!--filter , nếu muốn vào trang nào thì p login>-->
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeCategory</servlet-name>
        <servlet-class>controller.TypeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EachCategory</servlet-name>
        <servlet-class>model.EachCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category2</servlet-name>
        <servlet-class>controller.Category2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>controller.DetailProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>controller.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controller.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerControl</servlet-name>
        <servlet-class>controller.ProductManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>controller.DeleteProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControl</servlet-name>
        <servlet-class>controller.AddProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductControl</servlet-name>
        <servlet-class>controller.LoadProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductControl</servlet-name>
        <servlet-class>controller.EditProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileControl</servlet-name>
        <servlet-class>controller.EditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyControl</servlet-name>
        <servlet-class>controller.BuyControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControl</servlet-name>
        <servlet-class>controller.CheckOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>controller.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderControl</servlet-name>
        <servlet-class>controller.CustomerOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>controller.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCustomerControl</servlet-name>
        <servlet-class>controller.LoadCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.ListProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category2</servlet-name>
        <url-pattern>/category2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductControl</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileControl</servlet-name>
        <url-pattern>/editp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyControl</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControl</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControl</servlet-name>
        <url-pattern>/deletee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderControl</servlet-name>
        <url-pattern>/custom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCustomerControl</servlet-name>
        <url-pattern>/loadC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
</web-app>
